:root {
    --bg-header:#bfbfbf;
    --bg-header-warn:#ff8c66;
    --bg-warn:#ffd9cc;
}

body {
    font-family:sans-serif;
    margin:0;
    padding: 2rem;
}

table {
    border-collapse: collapse;
    position: relative;
}

td.td-head, th {
    background-color: var(--bg-header);
    border: solid black 1px;
}

th {
    position: sticky;
    top: 0;
}

td.td-head.warn, th.warn {
        background-color: var(--bg-header-warn);
}

td {
        border: dashed 1px var(--bg-header);
}

td.warn {
        background-color: var(--bg-warn);
}
